[submodule "app/src/main/jni/libseq"]
	path = app/src/main/jni/libseq
	url = https://github.com/jeremymarch/libseq.git
[submodule "app/src/main/jni/libgreek"]
	path = app/src/main/jni/libgreek
	url = https://github.com/jeremymarch/libgreek.git
