<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philolog.hc">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@mipmap/hcicon"
        android:label="Hoplite Challenge"
        android:theme="@style/HCDayNight"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:label="Hoplite Challenge">
        </activity>

        <activity android:name=".MenuActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".GameHistory"
            android:label="Game History" />
        <activity
            android:name=".PracticeHistory"
            android:label="Practice History" />
        <activity
            android:name=".VerbList"
            android:label="Verb List" />
        <activity
            android:name=".VerbForms"
            android:label="Verb Forms" />
        <activity
            android:name=".TutorialActivity"
            android:label="About" />
    </application>
</manifest>